/*style.css*/

html
{
    font-size:10px; /* Questa misura nel resto della pagina, sarà 1 ewm*/
}

body
{
    font-size: 1.6rem;
}

.header-logo
{
    height: 6rem;
}

.guest-hidden
{
    display: none;
}

.view
{
    display: none;
}

.login-view 
{
    display: block;
}

.view.view-hidden, .hidden
{
    display: none;
}

.view.view-visible
{
    display: block;
}
